#Header{
  background-color: #547980;
  min-height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#headerName{
  float: left;
  margin-left: 50px;

}

#headerLinks{
  float: right;
  margin-right: 50px;
  padding: 10px;

}
